* {
    caret-color: transparent;
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(21, 73, 121);
}

img {
    display: block;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket {
    width: 300px;
    position: sticky;
}